# This migration creates the `bovaga_request_histories` table.
class CreateBovagaRequestHistories < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :bovaga_request_histories do |t|
      t.string  :bank_code
      t.string  :remote_ip
      t.string  :original_url
      t.string  :kind_of
      t.string  :request_id
      t.text    :request
      t.text    :response
      t.text    :error_messages

      t.timestamps
    end
    add_index :bovaga_request_histories, %i(bank_code kind_of)
  end
end
